body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cyan;
}

.container {
    width: 300px;
    padding: 20px;
    background: #f1f1f1;
    border-radius: 5px;
}

.container h1 {
    text-align: center;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container label {
    margin-bottom: 10px;
}

.container input {
    padding: 5px;
    margin-bottom: 10px;
}

.container .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.container .buttonContainer button {
    margin: 0 5px;
    padding: 3px;
    width: 80px;
}



.error {
    color: red;
    margin-bottom: 10px;
}

